<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to "The Challenge", root_path, class: "navbar-item is-size-3" %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <%= link_to "Home", root_path, class: "navbar-item" %>
      
      <% if current_page?(controller: 'profile', action: 'compare') %>
        <%= link_to "Return to Strored Profile", "/storedProfiles", method: "get", class: "navbar-item" %>
      <% else %> 
        <%= link_to "Stored profiles", '/storedProfiles', class: "navbar-item" %>
      <%end%>
    
      <% if current_page?(controller: 'profile', action: 'show') %>
        <%= link_to "Search On List", "/fetch", method: "get", class: "navbar-item" %>
        <%= link_to "Search By User", "/searchByUser", method: "get", class: "navbar-item" %>
      <% end %> 
    </div>
  </div>
</nav>
