<section class="section-search-form">
    <%= toastr_flash %> 

    <h1 class="title is-2"> Search by User </h1>

    <div class="container is-flex  is-justify-content-center is-align-items-center">
        
        <div class="div-form is-flex is-justify-content-center is-align-items-center">
            <div class="div-form-fields">
            <%= form_tag("/fetchProfileByUser", :method => "get") do %>
            <%= text_field_tag(:user_login, '', class: 'input is-info' ) %>
            </div>
            <div class="div-form-button">
            <%= submit_tag("Search", class: 'button is-info') %>
            </div>
            <% end %>
        </div>
    </div>
</section>

<div class="container is-flex is-justify-content-center is-align-items-center">
<% if @userFound == true %>
    <div class="card section-user-display user-found is-flex is-flex-direction-column is-align-items-center">
        <div class="card-image">
            <figure class="image is-48x48">
            <img src="<%= @searchProfiles['avatar_url']%>" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
            <div class="media-content">
                <p class="title is-4"><%= @searchProfiles['name']%></p>
                <p class="subtitle is-6"><%= @searchProfiles['url']%></p>
                <%= button_to "Save Profile", 
                    {:controller => "profile", :action => "create",  :user_login => "#{@searchProfiles['login']}" },
                    class: 'button is-info' 
                %>
            </div>
            </div>
        </div>
    </div>

<% elsif @userFound == false %>
    <div class="card section-user-display user-not-found is-flex is-flex-direction-column is-align-items-center">
        <div class="card-image">
            <figure class="image is-48x48">
                <%= image_tag("man.svg", :alt => "Placeholder image") %>
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
            <div class="media-content">
                <p class="title is-4"><%= @msg %></p>
            </div>
            </div>
        </div>
    </div>
<% else%>
<% end %>
</div>