
<div class="section is-flex is-flex-direction-column is-align-items-center">

    <%= toastr_flash %> 
    <h1 class="title is-2"> Profiles Saved </h1>
    
    <% @userProfile.each do |profile| %>
        <div class="card" >
            <div class="card-image" >
                <figure class="image is-48x48">
                <img src="<%= profile['avatar_url'] %>" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                <div class="media-content">
                    <p class="title is-4"><%= profile['login']%></p>
                    <p class="subtitle is-6"><%= profile['url']%></p>
                    <div class="column">
                        <%= button_to "Delete", 
                            {:controller => "profile", :action => "destroy",  :id => profile['id']},
                            class: "button is-danger"
                        %>
                    </div>
                </div>
                </div>
            </div>
            <div class="container-checkBox is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                <input type="checkbox" class="selectCheckbox" id="<%= profile['id'] %>" >
            </div>
        </div>
    <% end %>
</div>

<%= javascript_pack_tag 'customized'%>
